Name:
= t.name
%br
Due Date:
= t.due_date
%br
Description:
= t.description
%br
Completed?:
-if t.complete
	= link_to "this task is complete",
			change_complete_status_task_path, method: 'patch'
-else 
	= link_to "this task in incomplete",
			change_complete_status_task_path, method: 'patch'
%br
=link_to "Edit this task", "/tasks/#{t.id}/edit"	
%br