%html{lang: "en"}
	%head
		%meta{charset: "utf-8"}/
		%meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
		%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
		%meta{content: "", name: "description"}/
		%meta{content: "", name: "author"}/
		%link{href: "http://www.blacktie.co/docs-assets/ico/favicon.png", rel: "shortcut icon"}/
		%title STANLEY - Free Bootstrap Theme
		/ Bootstrap core CSS
		%link{href: "http://www.blacktie.co/demo/stanley/assets/css/bootstrap.css", rel: "stylesheet"}/
		/ Custom styles for this template
		%link{href: "http://www.blacktie.co/demo/stanley/assets/css/main.css", rel: "stylesheet"}/
		%script{src: "https://code.jquery.com/jquery-1.10.2.min.js"}
		%script{src: "assets/js/hover.zoom.js"}
		%script{src: "assets/js/hover.zoom.conf.js"}
#ww
	.container
		.row
			.col-lg-8.col-lg-offset-2.centered
				%img
				= image_tag @person.person_photo.url
				%h1 #{@person.name}
				%p Hello everybody. I'm #{@person.name}, task-doer extraordinaire.  Check out all the amazing tasks I've completed since joining &Done!
				= button_to "Delete Profile", "/people/#{@person.id}", {:action => "delete", :method => :delete}
				=button_to "Edit Profile", "/people/#{@person.id}/edit", {:method => :get}
          
.container.pt
	.row.mt.centered
		- @tasks.each do |t|
			-if t.complete 
				.button-show
					%button.btn.btn-default
						Name:
						= t.name
						%br
						Due Date:
						= t.due_date
						%br
						Description:
						= t.description
						%br
						Completed?:
						-if t.complete
							This Task Has Been Completed
						-else 
							This Task Has Not Been Completed
						%br
						=link_to "Edit this task", "/tasks/#{t.id}/edit"
						%br
			-else 
				.button-show
					%button.btn.btn-danger
						Name:
						= t.name
						%br
						Due Date:
						= t.due_date
						%br
						Description:
						= t.description
						%br
						Completed?:
						-if t.complete
							This Task Has Been Completed
						-else 
							This Task Has Not Been Completed
						%br
						=link_to "Edit this task", "/tasks/#{t.id}/edit"	
						%br

